.meetContainer{
    position: relative;
    display: flex;
    height:100vh;
    background-color: rgb(0, 9, 24);
}

.userVideo{
    position: absolute;
    bottom: 10vh;
    height: 20vh;
    width: auto;
    right:0;
    border-radius: 20px;
}

.buttonContainer{
    position: absolute;
    width: 100vw;
    bottom: 0;
    text-align: center;
}

.buttonContainer svg{
    font-size: 2.5rem;
}

.confView{
    background-color: rgb(0, 9, 24);
}